@font-face {
  font-family: 'interbold';
  src: url('../../fonts/inter-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'interextra_bold';
  src: url('../../fonts/inter-extrabold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'intermedium';
  src: url('../../fonts/inter-medium-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'interregular';
  src: url('../../fonts/inter-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'intersemi_bold';
  src: url('../../fonts/inter-semibold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'architects_daughterregular';
  src: url('../../fonts/architectsdaughter-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}