.page_theme {
  background-color: var(--chinese-black);
  font-family: interregular, sans-serif;
}

/* Header */

.link_theme {
  color: var(--columbia-blue);
}

.button_theme {
  background-color: var(--very-light-blue);
  color: var(--white);
  font-family: intermedium, sans-serif;
}

/* Hero */

.title {
  color: var(--azureish-white);
  font-size: 3.25rem;
  font-family: interextra_bold, sans-serif;
}

.text {
  color: var(--cadet-grey);
  font-size: 1.25rem;
}

.hero__button-one_theme {
  background-color: var(--very-light-blue);
}

.hero__button-two_theme {
  background-color: var(--onyx);
  color: var(--columbia-blue);
}

.video_theme {
  background: url(../../img/hero/Video.jpg) no-repeat;
}

/* Section-one */

.section-one__title_theme {
  font-size: 2.5rem;
}

.section-one__subtitle {
  font-size: 1.5rem;
  font-family: interbold, sans-serif;
}

.section-one__text_theme {
  font-size: 1.125rem;
}

.icon-wraper_theme {
  background-color: var(--very-light-blue);
}

.divider {
  border-bottom: 1px solid var(--onyx);
}