<footer class="footer container">
  <section class="subscribe subscribe_theme">
    <h2 class="title subscribe__title_theme subscribe__item">Stay in the loop</h2>
    <p class="text subscribe__text_theme subscribe__item">Join our newsletter to get top news before anyone else.</p>
    <form action="" class="subscribe__form subscribe__item">
      <input type="email" placeholder="Your best email…" name="user_email" class="subscribe__input subscribe__input_theme">
      <input type="submit" value="Subscribe" class="subscribe__button button subscribe__button_theme">
    </form>
  </section>
  <section class="footer__main">
    <div class="footer-wrap">
      <img class="footer__logo" src="../img/logo/Logo.svg" alt="logo">
      <p class="text footer__text_theme">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
    </div>
    <nav class="footer__menu menu menu_theme">
      <h3 class="menu__title_theme title">Products</h3>
      <ul class="menu-item_theme">
        <li class="menu-item"><a href="">Web Studio</a></li>
        <li class="menu-item"><a href="">DynamicBox Flex</a></li>
        <li class="menu-item"><a href="">Programming Forms</a></li>
      </ul>
    </nav>
    <nav class="footer__menu menu menu_theme">
      <h3 class="menu__title_theme title">Resources</h3>
      <ul class="menu-item_theme">
        <li class="menu-item"><a href="">Nostrud exercitation</a></li>
        <li class="menu-item"><a href="">Visual mockups</a></li>
        <li class="menu-item"><a href="">Nostrud exercitation</a></li>
        <li class="menu-item"><a href="">Visual mockups</a></li>
        <li class="menu-item"><a href="">Nostrud exercitation</a></li>
      </ul>
    </nav>
    <nav class="footer__menu menu menu_theme">
      <h3 class="menu__title_theme title">Company</h3>
      <ul class="menu-item_theme">
        <li class="menu-item"><a href="">Consectetur adipiscing</a></li>
        <li class="menu-item"><a href="">Labore et dolore</a></li>
        <li class="menu-item"><a href="">Consectetur adipiscing</a></li>
        <li class="menu-item"><a href="">Labore et dolore</a></li>
        <li class="menu-item"><a href="">Consectetur adipiscing</a></li>
      </ul>
    </nav>
  </section>
  <section class="footer__copy-and-social">
    <p class="text copy">© 2020 Open PRO. All rights reserved.</p>
    <a href="">
      <div class="icon-wrap footer__icon footer__icon_theme"><img src="../img/social/Twitter.svg" alt="twitter"></div>
    </a>
    <a href="">
      <div class="icon-wrap footer__icon footer__icon_theme"><img src="../img/social/Github.svg" alt="github"></div>
    </a>
    <a href="">
      <div class="icon-wrap footer__icon footer__icon_theme"><img src="../img/social/Facebook.svg" alt="facebook"></div>
    </a>
    <a href="">
      <div class="icon-wrap footer__icon footer__icon_theme"><img src="../img/social/Instagram.svg" alt="instagram"></div>
    </a>
    <a href="">
      <div class="icon-wrap footer__icon footer__icon_theme"><img src="../img/social/LinkedIn.svg" alt="linkedin"></div>
    </a>
  </section>
</footer>