.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  align-items: center;
  grid-template-rows: 50px 60px 1fr;
  row-gap: 16px;
  justify-items:center;

  padding-top: 82px;
}

.testimonials__title {
  grid-column: span 3;
  text-align: center;
}

.testimonials__text {
  grid-column: span 3;
  text-align: center;
  max-width: 750px;
}

.testimonials__item {
  display: grid;
  row-gap: 16px;

  grid-column: span 1;
  grid-row: span 1;

  margin-top: 63px;

}