.article {
  padding: 24px 24px 20px 24px;
}

.article__text {
  padding-bottom: 24px;
  margin-bottom: 4px;
}

.article__header {
  position: relative;
}

.article__avatar {
  width: 48px;
}

.article__img {
  position: absolute;
  top: 0;
  left: 36px;
  width: 24px;
}