<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="page_theme">
  {{>../templates/header.hbs}}
  <main>
    <section class="hero container grid">
      <h1>Landing template for startups</h1>
      <p class="text">Our landing page template works on all devices, so you only have to set it up once, and get beautiful results forever.</p>
      <a href="">Start free trial</a>
      <a href="">Learn more</a>
    </section>
  </main>
  {{>../templates/footer.hbs}}
</body>
</html>