<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="page_theme">
  {{>../templates/header.hbs}}
  <main class="container">
    <section class="hero">
      <h1 class="hero__title title">Landing template for startups</h1>
      <p class="hero__text text">Our landing page template works on all devices, so you only have to set it up once, and get beautiful results forever.</p>
      <a href="" class="hero__button-one hero__button-one_theme button button_theme">Start free trial</a>
      <a href="" class="hero__button-two hero__button-two_theme button button_theme">Learn more</a>
      <video class="hero__video video video_theme" src="">
    </section>
    <section class="section-one divider">
      <h2 class="section-one__title section-one__title_theme title">Build up the whole picture</h2>
      <p class="section-one__text text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum — semper quis lectus nulla at volutpat diam ut venenatis.</p>
      <div class="section-one__item">
        <div class="icon-wrap icon-wrap_theme">
          <img src="../img/section-one/icon1.svg" alt="icon">
        </div>
        <h3 class="section-one__subtitle title">Instant Features</h3>
        <p class="section-one__text_theme text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
      </div>
      <div class="section-one__item">
        <div class="icon-wrap icon-wrap_theme">
          <img src="../img/section-one/icon2.svg" alt="icon">
        </div>
        <h3 class="section-one__subtitle title">Instant Features</h3>
        <p class="section-one__text_theme text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
      </div>
      <div class="section-one__item">
        <div class="icon-wrap icon-wrap_theme">
          <img src="../img/section-one/icon3.svg" alt="icon">
        </div>
        <h3 class="section-one__subtitle title">Instant Features</h3>
        <p class="section-one__text_theme text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
      </div>
      <div class="section-one__item">
        <div class="icon-wrap icon-wrap_theme">
          <img src="../img/section-one/icon4.svg" alt="icon">
        </div>
        <h3 class="section-one__subtitle title">Instant Features</h3>
        <p class="section-one__text_theme text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
      </div>
      <div class="section-one__item">
        <div class="icon-wrap icon-wrap_theme">
          <img src="../img/section-one/icon5.svg" alt="icon">
        </div>
        <h3 class="section-one__subtitle title">Instant Features</h3>
        <p class="section-one__text_theme text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
      </div>
      <div class="section-one__item">
        <div class="icon-wrap icon-wrap_theme">
          <img src="../img/section-one/icon6.svg" alt="icon">
        </div>
        <h3 class="section-one__subtitle title">Instant Features</h3>
        <p class="section-one__text_theme text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
      </div>
    </section>
    <section class="section-two divider">
      <h4 class="section-two__slogan section-two__slogan_theme">Reach goals that matter</h4>
      <h2 class="title section-two__title section-two__title_theme">One product, unlimited solutions</h2>
      <p class="text section-two__text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla.</p>
      <div class="section-two__item section-two__item_w">
        <h4 class="section-two__caption">More speed. Less spend</h4>
        <h3 class="title section-two__subtitle">Keep projects on schedule</h3>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <ul class="section-two__list list list_theme">
          <li class="list__item">Duis aute irure dolor in reprehenderit</li>
          <li class="list__item">Excepteur sint occaecat </li>
          <li class="list__item">Amet consectetur adipiscing elit</li>
        </ul>
      </div>
      <img src="../img/section-two/Illustration1.jpg" alt="illustration" class="img section-two__item">
      <img src="../img/section-two/Illustration2.jpg" alt="illustration" class="img section-two__item">
      <div class="section-two__item section-two__item_w">
        <h4 class="section-two__caption">More speed. Less spend</h4>
        <h3 class="title section-two__subtitle">Keep projects on schedule</h3>
        <p class="text section-two__text_theme">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <ul class="section-two__list list list_theme">
          <li class="list__item">Duis aute irure dolor in reprehenderit</li>
          <li class="list__item">Excepteur sint occaecat </li>
          <li class="list__item">Amet consectetur adipiscing elit</li>
        </ul>
      </div>
      <div class="section-two__item section-two__item_w">
        <h4 class="section-two__caption">More speed. Less spend</h4>
        <h3 class="title section-two__subtitle">Keep projects on schedule</h3>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <ul class="section-two__list list list_theme">
          <li class="list__item">Duis aute irure dolor in reprehenderit</li>
          <li class="list__item">Excepteur sint occaecat </li>
          <li class="list__item">Amet consectetur adipiscing elit</li>
        </ul>
      </div>
      <img src="../img/section-two/Illustration3.jpg" alt="illustration" class="img section-two__item">
    </section>
    <section class="testimonials">
      <h2 class="testimonials__title testimonials__title_theme title">Don't take our word for it</h2>
      <p class="testimonials__text text">Vitae aliquet nec ullamcorper sit amet risus nullam eget felis semper quis lectus nulla at volutpat diam ut venenatis tellus—in ornare.</p>
      <article class="testimonials__item article article_theme">
        <header class="article__header">
          <img src="../img/testimonials/Avatar1.png" alt="avatar" class="img article__avatar">
          <img src="../img/testimonials/“.svg" alt="" class="img article__img">
        </header>
        <p class="text article__text article__text_theme divider">— Open PRO lets me quickly get the insights I care about so that I can focus on my productive work. I've had Open PRO for about 24 hours now and I honestly don't know how I functioned without it before.</p>
        <footer class="article__footer article__footer_theme text">
          <p>Anastasia Dan / <span class="article__span_theme">UX Board</span></p>
        </footer>
      </article>
      <article class="testimonials__item article article_theme">
        <header class="article__header">
          <img src="../img/testimonials/Avatar2.png" alt="avatar" class="img article__avatar">
          <img src="../img/testimonials/“.svg" alt="" class="img article__img">
        </header>
        <p class="text article__text article__text_theme divider">— Open PRO lets me quickly get the insights I care about so that I can focus on my productive work. I've had Open PRO for about 24 hours now and I honestly don't know how I functioned without it before.</p>
        <footer class="article__footer article__footer_theme text">
          <p>Roman Level / <span class="article__span_theme">AppName</span></p>
        </footer>
      </article>
      <article class="testimonials__item article article_theme">
        <header class="article__header">
          <img src="../img/testimonials/Avatar3.png" alt="avatar" class="img article__avatar">
          <img src="../img/testimonials/“.svg" alt="" class="img article__img">
        </header>
        <p class="text article__text article__text_theme divider">— Open PRO lets me quickly get the insights I care about so that I can focus on my productive work. I've had Open PRO for about 24 hours now and I honestly don't know how I functioned without it before.</p>
        <footer class="article__footer article__footer_theme text">
          <p>Akex Sackett / <span class="article__span_theme">Reform Layouts</span></p>
        </footer>
      </article>
    </section>
  </main>
  {{>../templates/footer.hbs}}
</body>
</html>