<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="page_theme">
  {{>../templates/header.hbs}}
  <main class="container">
    <section class="hero">
      <h1 class="hero__title title">Landing template for startups</h1>
      <p class="hero__text text">Our landing page template works on all devices, so you only have to set it up once, and get beautiful results forever.</p>
      <a href="" class="hero__button-one hero__button-one_theme button button_theme">Start free trial</a>
      <a href="" class="hero__button-two hero__button-two_theme button button_theme">Learn more</a>
      <video class="hero__video video video_theme" src="">
    </section>
    <section class="section-one divider">
      <h2 class="section-one__title section-one__title_theme title">Build up the whole picture</h2>
      <p class="section-one__text text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum — semper quis lectus nulla at volutpat diam ut venenatis.</p>
      <div class="section-one__item">
        <div class="icon-wraper icon-wraper_theme">
          <img src="../img/section-one/icon1.svg" alt="icon">
        </div>
        <h3 class="section-one__subtitle title">Instant Features</h3>
        <p class="section-one__text_theme text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
      </div>
      <div class="section-one__item">
        <div class="icon-wraper icon-wraper_theme">
          <img src="../img/section-one/icon2.svg" alt="icon">
        </div>
        <h3 class="section-one__subtitle title">Instant Features</h3>
        <p class="section-one__text_theme text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
      </div>
      <div class="section-one__item">
        <div class="icon-wraper icon-wraper_theme">
          <img src="../img/section-one/icon3.svg" alt="icon">
        </div>
        <h3 class="section-one__subtitle title">Instant Features</h3>
        <p class="section-one__text_theme text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
      </div>
      <div class="section-one__item">
        <div class="icon-wraper icon-wraper_theme">
          <img src="../img/section-one/icon4.svg" alt="icon">
        </div>
        <h3 class="section-one__subtitle title">Instant Features</h3>
        <p class="section-one__text_theme text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
      </div>
      <div class="section-one__item">
        <div class="icon-wraper icon-wraper_theme">
          <img src="../img/section-one/icon5.svg" alt="icon">
        </div>
        <h3 class="section-one__subtitle title">Instant Features</h3>
        <p class="section-one__text_theme text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
      </div>
      <div class="section-one__item">
        <div class="icon-wraper icon-wraper_theme">
          <img src="../img/section-one/icon6.svg" alt="icon">
        </div>
        <h3 class="section-one__subtitle title">Instant Features</h3>
        <p class="section-one__text_theme text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
      </div>
    </section>
  </main>
  {{>../templates/footer.hbs}}
</body>
</html>