:root {
  --white: #FFFFFF;
  --very-light-blue: #5D5DFF;
  --columbia-blue: #C5D2DC;
  --onyx: #33363A;
  --azureish-white: #D9E3EA;
  --cadet-grey: #9BA9B4;
  --medium-sea-green: #36A269;
  --aero-blue: #C6F6D5;
  --emerald: #48BB78;
  --lavender: #E2E1FF;
  --magnolia: #F4F4FF;
  --maximum-blue-purple: #ABABFF;
  --iris: #4B4ACF;
  --chinese-black: #151719;
  --spanish-gray: #979797;
  --gutter: 20px;
}